<body>
  <div>
    <p>Sender: <%= messages[id].user %></p>
    <p>Date: <%= messages[id].added %></p>
    <div>
      <p>Message: </p>
      <%= messages[id].text %>
    </div>
    <br>
    <a href="/"> <<< Go back to message board</a>
  </div>
</body>